<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1>Product Details</h1>
            <div>
                <img src="<%= product.imageUrl %>" alt="alt-image" class="image">
            </div>
            <div>
                <h2><%= product.title %></h2>
                <p>$<b><%= product.price %></b></p>
                <p><%= product.description %></p>
            </div>
            <div>
                <%- include('../includes/add-to-cart.ejs') %>
            </div>
        </main>
<%- include('../includes/end.ejs') %>